@import url('https://cdn.syncfusion.com/ej2/material.css');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap'); */
*{
  box-sizing: border-box;
}
/* body{
  font-family: 'Roboto', sans-serif;

} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: #FAFBFB;
  /* overflow: hidden; */
}

/* ******************************************* */

.settings{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  font-size: 2rem;
}

.settings button{
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  padding-top: 5px;
  /* background-color: white; */
  border-radius: 50%;
  background-color: blue;
  color: white;
  cursor: pointer;

}

.main-margin{
  
  width: 100%;
  margin-left: 20rem;
}
.main-withoutMargin{
  
  width: 100%;
}
.elements{
  margin:3rem 2rem 0 5rem;
  padding: 3rem;
  /* background-color: white; */

}
.elements-withoutMargin{
  margin: 3rem 0 0 0.5rem;
}

.app-sidebar{
  position: fixed;
  z-index: 100;
}
/* ***************************************** */

@media screen and (max-width: 680px) {
  .elements{
    margin: 3rem 0 0 0.5rem;
    padding: 0.1rem;
  }
  .app-sidebar{
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
  }
  .main-margin{
  
    width: 100%;
    margin-left: 0rem;
  }

}